# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/

# User data
user-data/Cache/
user-data/Code Cache/
user-data/GPUCache/
user-data/Service Worker/CacheStorage/
user-data/Service Worker/ScriptCache/
user-data/ShaderCache/
user-data/Storage/ext/

# Temporary files
uploads/
output.png
tmp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db